$main-color: #00695b;
$main-light-accent: #0b7e6e;
$main-dark-accent: #003830;
$secondary-color: #3096b0;
$secondary-light-accent: #e68139;
$secondary-dark-accent: #592500;

$text-color: #363636;
$gray: #dddddd;